body {
    background-color: #262626;
    color: white;
}

img {
    width: 50vw;
    align-items: center;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 22vw;
}

.bloques {
    width: 90vw;
    padding: 2em;
}