.headerDesign {
    height: 10vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.headerNavDesign {
    display: flex;
    flex-direction: row;
}