.buttonNavDesign {
    color: white;
    font-weight: bold;
    margin: 0 1.5em 0 1.5em;
    transition: 0.3s;
    cursor: pointer;
}

.buttonNavDesign:hover {
    transition: 0.3s;
    color: grey;
}